*{
    box-sizing: border-box;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Condensed:wght@400;700&display=swap');
@import "_vars";
@import "_commons";